body {
    background-color:#000000;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    display: flex;
    height: 100%;
    width: 100%;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color:#d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 0px;
    text-decoration: none;
    transition: padding 0.25s;
}
a:hover{
    color:white;
    border-bottom: 1px solid white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color:#000000;
    margin-left: 30px;
    margin-top:30px;
    padding:50px;
    color:#d8d8d8;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    line-height:1.4em;
}

/* .flex-container::after {
    padding-bottom:5000px;
} */

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
.sep {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ident {
    width: 120px;
    display: inline-block;
}

.pgp {
    margin-bottom:0px;
    margin-top:0px;
}
