<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/scripts.js" defer></script>

    <script>
        if (localStorage.theme === 'dark' || (!localStorage.theme && 
            matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
        }
    </script>
</head>

<body>
    <div class="error_main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
