<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">

    <script>
        if (localStorage.theme === 'dark' || (!localStorage.theme && 
            matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
        }
    </script>
</head>

<body>
<header>
<nav>
    <div class="nav-left"><a href="/">edmond burnett</a></div>
    <div class="nav-right">
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/archive">archive</a>
        <button id="theme-toggle" onclick="toggleTheme()">
            <img class="light-icon" src="/static/asleep--filled.svg" alt="Dark mode">
            <img class="dark-icon" src="/static/light--filled.svg" alt="Light mode">
        </button>
    <script src="/static/theme.js"></script>
    </div>
</nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
</footer>

</body>
</html>
