<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">

    <script>
        if (localStorage.theme === 'dark' || (!localStorage.theme && 
            matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
        }
    </script>
</head>

<body>
    <button id="theme-toggle" onclick="toggleTheme()">
        <img class="light-icon" src="/static/asleep--filled.svg" alt="Dark mode">
        <img class="dark-icon" src="/static/light--filled.svg" alt="Light mode">
    </button>
    <script src="/static/theme.js"></script>

    <br /><br />

    {% block content %}{% endblock %}
</body>
</html>
